server:
  port: 20262
spring:
  application:
    name: pipeline
  profiles:
    active: dev
  config:
    import: optional:configserver:http://localhost:8888

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090
      client:
        provider:
          itp-standard:
            issuer-uri: http://localhost:9090 #iam
        registration:
          itp-standard:
            provider: itp-standard
            client-id: itp-standard
            client-secret: qwerqwer
            redirect-uri: http://localhost:9999/login/oauth2/code/itp-standard
            authorization-grant-type: client_credentials

            scope:
              - openid # Auto-issue access token
              - profile # Get profile
              - email # Get email

# Resilience4j settings
resilience4j:
  circuitbreaker:
    instances:
      account:
        sliding-window-size: 10 # Number of requests in a sliding window type
        failure-rate-threshold: 50 #Percentage,  # If 50% of requests fail, circuit breaker opens
        permitted-number-of-calls-in-half-open-state: 2 # Request number(២ដង) before switching to the open state
        wait-duration-in-open-state: 10000 # milliseconds, # Duration for waiting in open state

# Actuator settings
management:
  endpoints:
    web:
      exposure:
        include: "*"


